#container{
    height: 100%;
    width: 100%;
}

.column-title-parent{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.column-title-wrapper{
    width: 16.6%;
}