header {
  padding: 5em;
}

.title-container {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.title-container > h1 {
  margin-left: 0.5rem;
}

@media (max-width: 500px) {
  header {
    padding: 1em;
  }
}
